body {
  margin: 0;
  overflow: hidden; /* Disable scroll for the entire page */
}

.reddit-browser {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the RedditBrowser to fill the viewport */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(143, 143, 255);
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar h2 {
  flex: 1;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navbar form {
  position: relative; /* Set the form container as relative for absolute positioning of dropdown */
  margin-right: 60px;
}

.move-buttons {
  display: flex;
  align-items: center;
  margin-right: 830px;
}

.navbar input[type="text"] {
  padding: 5px;
  border-radius: 12px;
  background-color: #d8d5ff;
  color: rgb(0, 0, 0);
  width: 200px; /* Set a specific width for the input */
}



.navbar button {
  padding: 5px 10px;
  background-color: #d8d5ff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: 5px; /* Add left margin to create space */
  border-radius: 12px;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 2; /* Set a higher z-index for the autocomplete dropdown to appear on top */
}

.autocomplete-option {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #ddd;
}

.container {
  display: flex;
  flex: 1;
  margin-top: 50px;
  overflow: hidden; /* Hide any content that overflows the container */
}

.sidebar {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for the list of subreddits */
  height: 100%; /* Make the sidebar occupy the full height of its container */
  max-height: calc(100vh - 50px); /* Adjust the max-height to leave space for the fixed navbar */
}

.content {
  flex: 2;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for the list of posts */
  max-height: calc(100vh - 50px); /* Adjust the max-height to leave space for the fixed navbar */
}


.post-details {
  flex: 2;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for the post details */
  max-height: calc(100vh - 50px); /* Adjust the max-height to leave space for the fixed navbar */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 5px;
}

li.active {
  background-color: rgb(185, 185, 255);
}

li:hover {
  background-color: lightgray;
}


.content ul {
  max-height: calc(100vh - 200px); 
  overflow-y: auto; 
}

img {
  border-radius: 4px;
  padding: 30px;
  width: 400px;
}
